        
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Address</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
<script type="text/javascript">
var app = angular.module("app",["ngRoute","ngCookies"]);

// app.controller('addressctrl',function($scope,$http,$rootscope,$location,$cookies){
// alert('addressctrl loaded')
// alert('loaded')

//   $scope.submitAddress = (addr)=>{
//     addr.emailid = $cookies.get('emailid')
    
//     $http.post('http://localhost:8080/setAddress',addr).then(function(response){
//       if(response.data!=""){
//         alert('address added successfully')
//         $location.path('products');
//       }else{
//         alert('error please try again')
//       }
//     })
//   }
// })
</script>
</head>
<body>


	<div class="container-contact100" >
		<!-- <div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div> -->

		<div class="wrap-contact100">
			

			<form class="contact100-form validate-form">
				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Full Name:</span>
					<input class="input100" ng-model="addr.name" type="text" name="name" placeholder="Enter full name">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "number">
					<span class="label-input100">Phone:</span>
					<input class="input100" type="text" ng-model="addr.number" name="Phone" placeholder="Enter Contact Number">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Phone is required">
					<span class="label-input100">Pin:</span>
					<input class="input100" type="text" ng-model="addr.pin" name="pin" placeholder="Enter Pincode">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Locality is required">
					<span class="label-input100">Locality:</span>
					<input class="input100" type="text" ng-model="addr.locality" name="Locality" placeholder="Enter Locality">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Address is required">
					<span class="label-input100">Address:</span>
					<textarea class="input100" name="message" ng-model="addr.address" placeholder="Your Address..."></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="City is required">
					<span class="label-input100">City:</span>
					<input class="input100" type="text" ng-model="addr.city" name="city" placeholder="Enter City">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="State is required">
					<span class="label-input100">State:</span>
					<input class="input100" type="text" ng-model="addr.state" name="state" placeholder="Enter State">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Landmark is required">
					<span class="label-input100">Landmark:</span>
					<input class="input100" type="text" ng-model="addr.landmark" name="Landmark" placeholder="Enter Landmark">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Alternate Phone is required">
					<span class="label-input100">Alternate Phone:</span>
					<input class="input100" type="text" ng-model="addr.altnumber" name="Alternate Phone" placeholder="Enter Alternate Phone">
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn" ng-model="addr.emailid">
					<button type="submit" class="contact100-form-btn" ng-click="submitAddress(addr)">
						<span>
							Save Address
							<!-- <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i> -->
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<!-- <script src="vendor/jquery/jquery-3.2.1.min.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="vendor/animsition/js/animsition.min.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="vendor/bootstrap/js/popper.js"></script> -->
	<!-- <script src="vendor/bootstrap/js/bootstrap.min.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="vendor/select2/select2.min.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script> -->
<!--===============================================================================================-->
	<!-- <script src="vendor/countdowntime/countdowntime.js"></script> -->
<!--===============================================================================================-->
	
<!--===============================================================================================-->
	<script src="js/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script> -->
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>

</body>
</html>
