
     <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
<script type="text/javascript">
let login = document.getElementById('admin-nav-login')

</script>
<style>
  #admin-nav-login{
    border: 1px solid blueviolet;
  }
h2{
    text-align: center;
}

.container{
    margin-top: 40px;
    border: 1px solid #1111;
    width: 350px;
    height: 300px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

body{
  background: urls("/image/login/2015-09-Outdoor-Nation-Challenge.jpg")
}
</style>
     <h2> Admin Login</h2>
<body>
    <div style="width:26%;margin-top:40px" class="container">
    <!-- <form method="post" ng-submit="submitAdminLogin()"  > -->
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email"  ng-model="data.emailid" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" require>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password"  ng-model="data.password" class="form-control" id="exampleInputPassword1" placeholder="Password"   required>
        </div>

        <button  class="btn btn-primary" ng-click="submitAdminLogin(data)">Login</button>
      <!-- </form> -->
    </div>



</body>
