<!DOCTYPE html>
<!-- <script type="text/javascript" src="js/modify-product.js" -->
<html>
<style>
.item{
  width: 100%;
  margin-top: 20px;
  position: relative;
}

select{
  height: 28px;
}
</style>
<div class="container">

  <div class="list-group-item item"  >
    <h2 style="text-align:center">Update Product</h2>
<div style="width:26%;margin-left:37%" ng-repeat="data in updateproduct" >
  <!-- <form method="post"   > -->
      <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text" class="form-control"  ng-model="data.name"id="Name" aria-describedby="emailHelp" >
         </div>

         <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control"  ng-model="data.price" id="InputUserId" aria-describedby="emailHelp" placeholder="Price">
          </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control"  ng-model="data.description" id="mobile" aria-describedby="emailHelp" placeholder="Description">
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select required ng-model="data.category" class="form-control" name="category" id="catofproduct">
              <option selected value="Camping Equipment">Camping Equipment</option>
              <option value="Golf Equipment">Golf Equipment</option>
              <option  value="Mountaineering Equipment">Mountaineering Equipment</option>
              <option value="Outdoor Protection">Outdoor Protection</option>
              <option value="Personal Accessories">Personal Accessories</option>
            </select>
        </div>


      <button  class="btn btn-primary" ng-click="submitUpdate($index)" >Update</button>

    <!-- </form> -->
  </div>

  </div>

</div>
<span>{{category}}</span>


</html>
