<style>
    body{
        background-color: #e4ffff;
    }
.custom{
    background-color: #e4ffff;
}
button{
    display: block; 
    border: 1px solid #555;
    width: 50px;
}
#button1{
  margin-bottom: 5px;
}
.pro-name{
  font-size:25px;
  text-align: center;
}
.pro-info{
    font-size: 15px;
}


 a{
    text-decoration: none;
  }


.outer-row{
    margin-top: 30px;
}
.col-md-10{
    margin-top: 0px;
}
    </style>


<style>

    #intro {
        height: 100%;
    }
    
    #intro {
        background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
    }
    
    </style>
    <!-- Signup -->
    <div class="row" style="margin-left: -50px; margin-right: -50px" id="intro">
        <div class="col-sm-12" style="width:100%; height:500px;">
                
                        <div class="flex-center flex-column" style="text-align:center;margin-top:350px;">
                          <h1 class="animated fadeIn text-muted" style="color:white">GREAT OUTDOORS</h1>
                    
                          <h5 class="animated fadeIn text-muted" style="color:white">We're glad you're with us.</h5>
                    
                          <p class="animated fadeIn text-muted" style="color:white">Team 4</p>
                        </div>
        
    </div>
    </div>


          <div class="row outer-row">
            <div class="col-md-2">


                    <div class="card custom" style="width: 80%;margin-left:10%;height: 100%">

                                    <table>

                                            <tr>
                                                <td>FILTERS <br><br></td>
                                            </tr>
                                            
                                            <tr>
                                                <td><button id="price_check_box"  class="btn btn-primary"  ng-click="orderList('price')" >Price</button></td></tr>
                                                <tr><!--  <td><br>
                                                    <button id="category_check_box" class="btn btn-primary" ng-click="orderList('category')">Category</button>
                                                <br></td> -->
                                            </tr>
                                            <tr> <td><br><br>
                                                <label>Maximum Price</label>
                                                <select id="category_check_box" class="form-control" ng-model="pricemax">
                                                    <option selected>20000</option>
                                                    <option>10000</option>
                                                    <option>5000</option>
                                                    <option>2000</option>
                                                    <option>1000</option>
                                                </select>
                                                <br></td>
                                             </tr>
                                            <tr> <td><br>
                                                <label>Minimum Price</label>
                                                <select id="category_check_box" class="form-control" ng-model="pricemin">
                                                        <option selected>50</option>
                                                        <option>100</option>
                                                        <option>200</option>
                                                        <option>300</option>
                                                        <option>500</option>
                                                    </select>
                                                <br></td>
                                             </tr>
                                             <tr>
                                                 <td><br>
                                                    <label>Category</label>
                                                    <select  ng-model="cat"  name="category" id="catofproduct" class="form-control">
                                                            <option selected value="17">Camping Equipment</option>
                                                            <option value=14>Golf Equipment</option>
                                                            <option  value=24>Mountaineering Equipment</option>
                                                            <option value=18>Outdoor Protection</option>
                                                            <option value=20>Personal Accessories</option>
                                                          </select>
                                                 <br></td>
                                             </tr>

                                    </table>
                            </div>


            </div>


            <div class="col-md-10">

               <div class="row">

                  <div class="col-md-4" ng-repeat="product in products | filter:myFilter | orderBy:order | pCategory:cat | priceGreaterThan:pricemin | priceLessThan:pricemax" >
                        <div class="card " style="border: 1px solid #555;">

                            <img ng-src="{{product.image[0].image}}" class="card-img-top" >

                            <p class="pro-name">{{product.name}}</p>
                            <p class="pro-info">{{"PRICE: "+product.price}}</p>
                            <p class="pro-info">{{"CATEGORY: "+product.category}}</p>


                                <a class="btn btn-primary" style="display: block; border: 1px solid #555; width: 285px; " id="button1" href="#!single_product/{{product._id}}">VIEW</a>

                                <!-- <div class="btn" style="display: block; border: 1px solid #555; width: 120px;"><a href="#!single_product">go to product</a></div> -->


                        </div>
                    </div>


               </div>
            </div>
            <!-- <script src="Product.js"></script> -->
        </div>

          <!-- <script scr="product.js"></script>       -->
